<a href="https://colab.research.google.com/github/ablancomu/pysradb_docker/blob/main/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Procedimientos

In [3]:
df = pd.read_excel("/content/drive/MyDrive/work/udd/resubmission_JTO/Supp_File2.xlsx", sheet_name='Sheet2')
df

       Subject_ID  Protein_Change  ... Alternative_Allele Clinical_Significance
0       Subject10        Q92Sfs*6  ...                  -             passenger
1     Subject1001            G12C  ...                  A                TIER 1
2     Subject1002     X552_splice  ...                  A                   NaN
3     Subject1002          G1537R  ...                  T                TIER 1
4     Subject1002           S752C  ...                  G                TIER 1
...           ...             ...  ...                ...                   ...
1708   Subject986           S821F  ...                  T                TIER 1
1709   Subject986           L637F  ...                  T                TIER 1
1710   Subject986           V653M  ...                  A                TIER 1
1711   Subject991  MET-MET.M13M15  ...                  -                     -
1712   Subject999            G12C  ...                  A                TIER 1

[1713 rows x 11 columns]